body {
    font-family: 'Open Sans'
}

header,
main,
footer {
    border: 2px solid black;
}

header,
main {
    border-bottom: none;
}

main {
    padding: 10px
}

footer {
    text-align: right;
}

img#logo {
    width: 300px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 7px;
}

nav a:hover,
nav a.active {
    color: darkblue;
}

.anleitungen {
    height: fit-content;
}

.sidenav {
    height: auto;
    width: 200px;
    position: fixed;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    display: block;
}

.sidenav a:hover {
    color: #911515
}

.sidenav h {
    padding-top: 20px;
    display: block;
}

.content_anleitungen {
    margin-left: 200px;
    padding: 0px 10px;
}

.content_anleitungen a {
    display: block;
    font-size: 30pt;
}